<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /subdirectory
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?noonboats\.com
RewriteRule ^(.*)$ https://www.noonboats.com/$1 [R,L]
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /index.html [L]
</IfModule>